* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  margin: 0;
}

.movie {
  position: "relative";
  overflow: "hidden"
}

.movie-overview {
  background-color: white;
  color: #22254b;
  position: absolute;
  padding: 1rem;
  padding-bottom: 1.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(200%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview {
  transform: translateY(0%);
}

.tag {
  background-color: #22254b;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0;
}

.tag.green {
  color: green;
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}